{
    "presets": ["@babel/preset-env"],
    "plugins": ["@babel/plugin-proposal-private-property-in-object"],
        "env": {
          "test": {
            "plugins": ["@babel/plugin-transform-modules-commonjs"]
          }
        }
  }
  
  